body {
  background: #f0e6d2;
  font-family: Arial;
}

h1 {
  color: #5a3e36;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.img-vela {
  max-width: 250px; /* Ajusta el tamaño */
  height: auto; /* Mantiene la proporción */
  margin: 20px 0; /* Espaciado */
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3)); /* Sombra suave */
}
